body{
    text-align: center;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    width: 50%;    
    margin: auto;
    height: 70vh;
    border-right: 5px 5px 5px solid black;
    box-shadow: -15px -15px 15px rgb(17, 3, 3);
    border-radius: 0.5em;
    
}
.raw{
    position: relative;

}
h1{
    font-size: 60px;
    font-family: 'Texturina', serif;
}
.color{
    display: inline-block;
    flex: center;
    text-align: center;
    height: 100px;
    width: 100px;
    cursor: pointer;

}
.green{
    border: 3px solid black;
    border-radius: 0 0 2em 0;
    background-color: green;
    
}
.red{
    border: 3px solid black;
    border-radius: 0 0 0 2em;
    background-color: red;

}
.blue{
    border: 3px solid black;
    border-radius: 0 2em 0 0;
    background-color: blue;

}
.yellow{
    border: 3px solid black;
    border-radius: 2em 0 0 0;
    background-color: yellow;

}